<div class="container">
  <br>
  <h1>TravelWiz</h1>
  <hr>
</div>
<div class="position-absolute top-50 start-50 translate-middle">
  <form (ngSubmit)="login()" id="loginForm">
  <div class="text-center">
    <!-- <label class="form-label">Email</label> -->
    <input type="text" class="form-control tamano"
    [(ngModel)]="administrador.usuario"
    [ngModelOptions]="{standalone:true}"
    placeholder="Email"
    required
    >
  </div>
  <br>
  <div class="text-center">
    <!-- <label class="form-label">Password</label> -->
    <input type="password" class="form-control" style="width: 100%;"
    [(ngModel)]="administrador.password"
    [ngModelOptions]="{standalone:true}"
    placeholder="Password"
    required
    >
  </div>
  <br>
  <div class="text-center">
    <input type="submit" class="btn btn-dark" value="Ingresar">
  </div>
  </form>
</div>
