<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TravelWiz</title>
</head>
<body>
  <form (ngSubmit)="login()" id="loginForm">
    <input type="text"
    [(ngModel)]="usuario.correo"
    [ngModelOptions]="{standalone:true}"
    placeholder="Email"
    required>
    <br>
    <br>
    <input type="password"
    [(ngModel)]="usuario.password"
    [ngModelOptions]="{standalone:true}"
    placeholder="Password"
    required>
    <br>
    <br>
    <input type="submit">
  </form>
</body>
</html>
