<div class="bg-dark text-center text-white">
  <h1 style="padding-bottom: 7px;"> Lugares </h1>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form  (ngSubmit)="guardarLugar()" id="lugarForm">
        <br>
        <div class="form-group text-start">
          <label class="lbl-group fs-5">Nombre</label>
          <input type="text"class="form-control thick-border" [(ngModel)]="lugar.nombre" [ngModelOptions]="{standalone:true}" required>
        </div>
        <div class="form-group text-start">
          <label class="lbl-group fs-5">Descripción</label>
          <input type="text" class="form-control thick-border" [(ngModel)]="lugar.descripcion" [ngModelOptions]="{standalone:true}" required>
        </div>
        <div class="form-group text-start">
          <label class="lbl-group text-start fs-5">Imagen</label>
          <input type="text" class="form-control thick-border" [(ngModel)]="lugar.imagen" [ngModelOptions]="{standalone:true}" required>
        </div>
        <br>
        <div class="text-center">
          <input type="submit" class="btn btn-success" value="Guardar">
        </div>
      </form>
    </div>
  </div>
</div>
<br>
<hr>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Acciones</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lugar of lugares">
        <th scope="row">{{lugar.idlugar}}</th>
        <td>
          <button class="btn btn-primary" (click)="modificarLugar(lugar)">Modificar</button>
            &nbsp;
          <button class="btn btn-warning" (click)="eliminarLugar(lugar)">Eliminar</button>
        </td>
        <td>{{lugar.nombre}}</td>
        <td>{{lugar.descripcion}}</td>
        <td>{{lugar.imagen}}</td>
      </tr>
    </tbody>
  </table>
</div>
