<div>
  <form  (ngSubmit)="guardarLugar()" id="lugarForm">
    <br>
    <div class="form-group">
      <label class="lbl-group">Nombre</label>
      <input type="text"class="form-control" [(ngModel)]="lugar.nombre" [ngModelOptions]="{standalone:true}" required>
    </div>
    <div class="form-group">
      <label class="lbl-group">Descripción</label>
      <input type="text" class="form-control" [(ngModel)]="lugar.descripcion" [ngModelOptions]="{standalone:true}" required>
    </div>
    <div class="form-group">
      <label class="lbl-group">Imagen</label>
      <input type="text" class="form-control" [(ngModel)]="lugar.imagen" [ngModelOptions]="{standalone:true}" required>
    </div>
    <br>
    <input type="submit" class="btn btn-outline-success float-start" value="Guardar">
  </form>
</div>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Acciones</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lugar of lugares">
        <th scope="row">{{lugar.idlugar}}</th>
        <td>
          <button class="btn btn-outline-primary" (click)="modificarLugar(lugar)">Modificar</button>
            &nbsp;
          <button class="btn btn-outline-warning" (click)="eliminarLugar(lugar)">Eliminar</button>
        </td>
        <td>{{lugar.nombre}}</td>
        <td>{{lugar.descripcion}}</td>
        <td>{{lugar.imagen}}</td>
      </tr>
    </tbody>
  </table>
</div>
