<div class="bg-dark text-center text-white">
  <h1 style="padding-bottom: 7px;"> Viajes </h1>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form  (ngSubmit)="guardarViaje()" id="viajeForm">
        <br>
        <div class="form-group">
          <label class="lbl-group fs-5">Fecha Partida</label>
          <input type="date"class="form-control thick-border" [(ngModel)]="viaje.fechaPartida" [ngModelOptions]="{standalone:true}" required>
        </div>
        <div class="form-group">
          <label class="lbl-group fs-5">Fecha Regreso</label>
          <input type="date" class="form-control thick-border" [(ngModel)]="viaje.fechaRegreso" [ngModelOptions]="{standalone:true}" required>
        </div>
        <div class="form-group">
          <label class="lbl-group fs-5">Cupo</label>
          <input type="number" class="form-control thick-border" [(ngModel)]="viaje.cupo" [ngModelOptions]="{standalone:true}" required>
        </div>
        <div class="form-group">
          <label class="lbl-group fs-5">Descripcion</label>
          <input type="text" class="form-control thick-border" [(ngModel)]="viaje.descripcion" [ngModelOptions]="{standalone:true}" required>
        </div>
        <div>
          <label class="lbl-group fs-5">Estado</label>
          <select class="form-select thick-border" aria-label="Seleccione" [(ngModel)]="viaje.idestado" [ngModelOptions]="{standalone:true}" required>
            <option selected></option>
            <option *ngFor="let estado of estados" value="{{estado.idestado}}">{{estado.valor}}</option>
          </select>
        </div>
        <div>
          <label class="lbl-group fs-5">Origen</label>
          <select class="form-select thick-border" aria-label="Seleccione" [(ngModel)]="viaje.origen" [ngModelOptions]="{standalone:true}" required>
            <option selected></option>
            <option *ngFor="let lugar of lugares" value="{{lugar.idlugar}}">{{lugar.nombre}}</option>
          </select>
        </div>
        <div>
          <label class="lbl-group fs-5">Destino</label>
          <select class="form-select thick-border" aria-label="Seleccione" [(ngModel)]="viaje.destino" [ngModelOptions]="{standalone:true}" required>
            <option selected></option>
            <option *ngFor="let lugar of lugares" value="{{lugar.idlugar}}">{{lugar.nombre}}</option>
          </select>
        </div>
        <br>
        <div class="text-center">
          <input type="submit" class="btn btn-success" value="Guardar">
        </div>
      </form>
    </div>
  </div>
</div>
<br>
<hr>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Acciones</th>
        <th scope="col">Fecha Partida</th>
        <th scope="col">Fecha Regreso</th>
        <th scope="col">Cupo</th>
        <th scope="col">Descripción</th>
        <th scope="col">Estado</th>
        <th scope="col">Origen</th>
        <th scope="col">Destino</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let viaje of viajes">
        <th scope="row">{{viaje.idviaje}}</th>
        <td>
          <button class="btn btn-primary" (click)="modificarViaje(viaje)">Modificar</button>
            &nbsp;
          <button class="btn btn-warning" (click)="eliminarViaje(viaje)">Eliminar</button>
        </td>
        <td>{{viaje.fechaPartida}}</td>
        <td>{{viaje.fechaRegreso}}</td>
        <td>{{viaje.cupo}}</td>
        <td>{{viaje.descripcion}}</td>
        <td>{{viaje.idestado | estados: estados}}</td>
        <td>{{viaje.origen | lugaresOrigen: lugares}}</td>
        <td>{{viaje.destino | lugaresDestino: lugares}}</td>
      </tr>
    </tbody>
  </table>
</div>
